body {
    background-color: #e1e6ed;
    padding: 20px 35px 35px 30px;
    font-family: 'Nunito Sans', sans-serif;
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    box-shadow: 0px 5px 20px rgba(119, 119, 119, .3);
}

#sidebar-wrapper {
    z-index: 1000;
    background-color: #f0f4f7;
}

#page-content-wrapper {
    padding: 25px 10px 20px;
    background-color: #fff;
}

footer {
    padding-top: 40px;
}

.nobr {
    white-space: nowrap;
}

.ellipsis {
    display: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.auth-btns {
    list-style: none;
    /* padding: 0; */
    margin: 0;
    opacity: .7;
    font-weight: 600;
}

.auth-btns>li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.auth-btns>li .far,
.auth-btns>li .fas {
    margin-right: 2px;
}

.sidebar-brand {
    padding: 20px 10px 34px;
    text-align: center;
    font-size: 13px;
}

.sidebar-brand a {
    display: block;
    padding: 25px 0 0;
    text-align: center;
}

.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-brand p {
    margin-top: -3px;
    font-weight: bold;
    margin-right: 13px;
    color: #4f5a93;
}

ul.sidebar-nav {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
}

ul.sidebar-nav li {
    margin-bottom: 1px;
}

ul.sidebar-nav li a {
    display: block;
    padding: 5px 10px;
    color: #000;
}

ul.sidebar-nav li a.active {
    font-weight: 600;
}

div.sidebar {
    padding: 40px 15px 0;
}

@media(min-width:768px) {
    body {
        padding: 30px 50px 40px;
    }

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {}

    #page-content-wrapper {
        padding: 35px 15px 25px;
    }

    footer {
        text-align: right;
        font-size: .8em;
        padding-right: 20px;
        padding-top: 60px;
    }

    div.sidebar {
        padding: 0;
    }
}

.post {
    margin: 0 0 45px;
}

.post+.post {
    border-top: 1px solid rgba(238, 238, 238, .8);
    padding-top: 50px;
}

.post-preview {
    margin: 0 0 25px;
}

.post-header {
    margin: 0 0 20px;
}

.post-title {
    font-size: 22px;
    margin: 0 0 10px;
}

.post-title>a,
.post-title>span {
    /* color: #333; */
    font-weight: 600;
    letter-spacing: -0.01em;
}

.post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: .7;
    /* color: #000; */
    font-weight: 600;
}

.post-meta>li {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
}

.post-meta>li:last-child {
    margin-right: 0;
}

.post-meta>li .far,
.post-meta>li .fas {
    margin-right: 2px;
}

.post-meta a {
    /* color: #000; */
    font-weight: 600;
}

.sidebar>aside {
    padding-bottom: 30px;
}

.sidebar>aside:first-child {
    padding-bottom: 45px;
}

.sidebar .h3 {
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: 14px;
    margin: 0 0 25px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar>aside.social {
    padding-bottom: 40px;
}

.social a {
    display: inline-block;
    margin-right: 5px;
    background-color: #4a4a4a;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    width: 38px;
    height: 38px;
    text-align: center;
    text-decoration: none;
}
